html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
input {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  color: #7e8c8d;
  -webkit-backface-visibility: hidden;
  text-decoration: none;
}
li {
  list-style: none;
}
body {
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
body,
html {
  line-height: 1;
  font-weight: 300;
  font-family: 'PingFang SC', 'STHeitiSC-Light', 'Heiti SC', 'Roboto', 'Noto', arial, sans-serif;
  background: #eee;
}
.clearfix {
  display: inline-block;
}
.clearfix::after {
  display: block;
  content: '.';
  height: 0;
  line-height: 0;
  clear: both;
  visibility: hidden;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5) {
  .border-1px::after {
    -webkit-transform: scaleY(0.7);
    transform: scaleY(0.7);
  }
}
@media (-webkit-min-device-pixel-ratio: 2), (min-device-pixel-ratio: 2) {
  .border-1px::after {
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
  }
}
body {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.g-hd {
  width: 100%;
  height: 1.388888888888889rem;
  background: #fff;
  text-align: center;
  overflow: hidden;
}
.g-hd .logo-wrap {
  width: 100%;
  height: 1.018518518518519rem;
  margin-top: 0.185185185185185rem;
  font-size: 0;
}
.g-hd .logo-wrap .img {
  height: 100%;
  width: auto;
}
.g-tab {
  width: 100%;
  height: 1.111111111111111rem;
  line-height: 1.111111111111111rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1ba2ff;
}
.g-tab .tab-item {
  flex: 1;
  text-align: center;
  font-size: 0.351851851851852rem;
  height: 100%;
}
.g-tab .tab-item.isActive {
  font-size: 0.425925925925926rem;
}
.g-tab .tab-item.isActive a {
  font-weight: 700;
}
.g-tab .tab-item a {
  color: #fff;
  display: inline-block;
  width: 100%;
  height: 100%;
}
.g-bd {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 0.37037037037037rem;
  background: #fff;
}
.g-bd .list-wrap {
  width: 100%;
}
.g-bd .list-wrap .list {
  display: flex;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0.37037037037037rem 0;
  position: relative;
}
.g-bd .list-wrap .list::after {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #ddd;
  content: ' ';
}
.g-bd .list-wrap .list .video-wrap {
  position: relative;
  width: 3.055555555555555rem;
  height: 1.722222222222222rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.g-bd .list-wrap .list .video-wrap .img {
  display: block;
  width: 100%;
  height: 100%;
}
.g-bd .list-wrap .list .video-wrap .live-icon {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 1.018518518518519rem;
  height: 0.37037037037037rem;
  line-height: 0.37037037037037rem;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #fb8a41;
  color: #fb8a41;
  font-size: 0.259259259259259rem;
  background: rgba(0,0,0,0.8);
}
.g-bd .list-wrap .list .text-wrap {
  flex: 1;
  margin-left: 0.277777777777778rem;
}
.g-bd .list-wrap .list .text-wrap .title {
  margin-top: 0.055555555555556rem;
  font-size: 0.425925925925926rem;
  font-weight: 500;
}
.g-bd .list-wrap .list .text-wrap .title a {
  color: #000;
}
.g-bd .list-wrap .list .text-wrap .desc {
  margin-top: 0.277777777777778rem;
  font-size: 0.314814814814815rem;
  color: #bbb;
}
.g-bd .list-wrap .list .text-wrap .time-wrap {
  width: 100%;
  margin-top: 0.277777777777778rem;
  font-size: 0.314814814814815rem;
  color: #bbb;
}
.g-bd .list-wrap .list .text-wrap .time-wrap .time-ago {
  float: left;
}
.g-bd .list-wrap .list .text-wrap .time-wrap .time-total {
  float: right;
}
.g-bd .list-wrap .list .text-wrap .time-wrap .time-total .time-icon {
  vertical-align: middle;
  display: inline-block;
  width: 0.305555555555556rem;
  height: 0.287037037037037rem;
  background: url("../imgs/time-icon.png") left center no-repeat;
  background-size: cover;
}
.g-bd .list-wrap .list .text-wrap .time-wrap .time-total span {
  vertical-align: middle;
}
.g-ft {
  width: 100%;
  height: 1.388888888888889rem;
  background: #4499e1;
  color: #fff;
  text-align: center;
  overflow: hidden;
}
.g-ft .version {
  margin-top: 0.185185185185185rem;
  font-size: 0.333333333333333rem;
}
.g-ft .version a {
  color: #fff;
}
.g-ft .copy {
  margin-top: 0.185185185185185rem;
  font-size: 0.333333333333333rem;
}
