@import './base.styl'
@import './mixin.styl'
body
	background #fff
.g-hd
	width 100%
	height 40px
	line-height 40px
	margin 0 auto
	border-bottom 1px solid #ccc
	ul
		width $body-width
		margin 0 auto
		font-size 0
		.list
			display inline-block
			width 90px
			line-height 40px
			text-align center	
			border-box()
			a
				vertical-align middle
				display inline-block
				width 100%
				height 14px
				line-height 14px
				border-right 1px solid #adadad
				font-size 14px
				color rgb(102,102,102)
				border-box()
				&:hover
					color #0081dc
					text-decoration underline
			&:last-child
				a
					border-right none
.g-logo-wrap
	width $body-width
	height 112px
	margin 0 auto
	.logo-img,.channel-logo
		float left
		height 100%
		font-size 0
		.logo
			display inline-block
			vertical-align:middle
		span
			display inline-block
			height 100%
			vertical-align middle
	.channel-logo
		margin-left 35px
	.live-info
		float right
		height 100%
		line-height 112px
		.play-pause
			vertical-align middle
			display inline-block
			width 54px
			height 54px
			background url('../imgs/play.png') center center no-repeat
			background-size cover
			cursor: pointer
			&.paused
				background url('../imgs/pause.png') center center no-repeat	
				background-size cover
		.live-name
			margin-left 10px
			font-size 16px;
			color :rgb(0, 129, 220)
.g-tab
	width 100%
	height 50px
	background #0081dc
	.tab-wrap
		width $body-width
		margin 0 auto
		line-height 50px
		font-size 0
		.tab
			display inline-block
			width 142px
			border-box()
			text-align center
			font-size 18px
			a
				display inline-block
				width 100%
				height 100%
				color #fff
.g-bd
	width $body-width
	margin 40px auto 0
	.main
		float left
		width 650px
		overflow hidden
		.slider-wrap
			width 650px
			height 366px
			overflow hidden
			.swiper-slide
				position: relative
				.img-wrap
					width 100%
					height 100%
					overflow hidden
					img
						display block
						width 100%
						height 100%
				.text-wrap
					position: absolute
					left 0
					right 0
					bottom 10px
					margin 0 auto
					width 580px
					height 80px
					padding 10px 20px
					background rgba(0, 0, 0, .4)
					border-box()
					.title
						width 80%
						line-height 1.7
						font-size 18px
						color #fff
						no-wrap()
					.desc
						line-height 1.7
						font-size 16px
						color #e7e7e7
						no-wrap()
		.dynamic
			margin-top 40px
			.icon
				font-size 0
			.pics-list
				margin-top 40px
				padding-bottom 30px
				border-bottom 1px dashed #ccc
				.item
					float left
					width 190px
					font-size 0
					margin-left 40px
					border-box()
					cursor: pointer
					&:first-child 
						margin-left 0
					.img
						width 100%
					.text
						display inline-block
						width 100%
						font-size 14px
						line-height 2.14
						color rgb(102, 102, 102)
						no-wrap()
			.text-list
				padding-top 30px
				.item
					float left
					width 320px
					margin-left 10px
					border-box()
					&:first-child
						margin-left 0
					.list
						width 100%
						display inline-block
						no-wrap()
						.dot
							vertical-align middle
							display inline-block
							margin-right 10px
							width 2px
							height 2px
							background #0081dc
						a
							font-size 16px
							color rgb(102, 102, 102)
							line-height 2.25
							&:hover
								color #0081dc
								text-decoration underline
		.radio-host
			margin-top 30px
			width 650px
			overflow hidden
			.icon
				font-size 0
			.host-slider
				width 100%	
				margin-top 40px
				.swiper-host
					position: relative
					width 600px
					margin 0 auto
					border-box()
					.swiper-wrapper
						width 100%
						// overflow hidden
					.swiper-slide
						width 180px
						height 300px
						border-box()
						.img
							display block
							width 180px
							height 240px	
							border 1px solid #8a9797
							border-box()
						.name
							display inline-block
							width 100%
							text-align center
							font-size 18px
							line-height 1.333
							margin-top 16px
					.host-button-prev,.host-button-next
						position: absolute
						z-index 10
						top 106px
						width 24px
						height 28px	
						line-height 28px
						text-align center
						background #5c5c5c
						color #fff
						font-size 24px
						cursor: pointer
						&:hover
							background #339ae3
					.host-button-prev
						left -25px
					.host-button-next
						right -25px
	.mainc
		float right
		width 310px
		overflow hidden
		.program
			width 310px
			.program-list				
				width 100%
				height 366px
				background url('../imgs/program.png') center center no-repeat
				background-size cover
				overflow hidden
				.list-wrap
					width 308px
					height 287px
					margin-top 78px
					margin-left 1px
					overflow hidden
					.list
						width 100%
						height 40px
						line-height 40px						
						font-size 0
						border-bottom 1px solid #ebebec
						&:hover
							background rgba(0, 0, 0, .08)
							cursor: pointer
						.time, .name
							display inline-block
							width 150px
							text-align center
							border-box()
							no-wrap()
							font-size 16px
							color rgb(102, 102, 102)
		.featured
			margin-top 40px	
			.icon
				font-size 0
			.featured-wrap
				margin-top 35px	
				.row
					width 100%
					margin-bottom 10px
					border-box()
					.item
						position: relative
						float left
						width 150px
						height 48px
						line-height 3
						vertical-align 2px
						text-align center
						box-shadow: inset 0 0 0 3px #ebebec
						font-size 16px
						color rgb(51, 51, 51)
						border-box()
						cursor: pointer
						&::before, &::after
							content: ''
							position: absolute
							width: 100%
							height: 100%
							border-box()
						&:first-child
							margin-right 10px
						&:hover
							// border 3px solid #0081dc
							a
								color #0081dc	
						a
							display inline-block
							width 100%
							height 100%
					&.middle
						.item
							width 98px
							margin-right 8px
							&:last-child
								margin-right 0
		.weibo
			margin-top 40px
			.info
				.avatar
					float left
					width 50px
					height 50px
					border-radius 50%
					overflow hidden
					font-size 0
					margin-right 20px
					.img
						width 100%
						height 100%
				.text
					float left
					width 170px
					.title
						font-size 16px
						font-weight 700
						line-height 1.8
				.follow
					float right
					margin-top 20px
			.live
				margin-top 20px
.g-ft
	width 100%
	margin-top 30px
	padding 40px 0 
	border-top 2px solid #dedede
	.ft-wrap
		width $body-width
		margin 0 auto
		text-align center
		.row
			line-height 2.2
			font-size 12px
			color #333
			&.beian-wrap
				margin-top 20px
				.beian
					display inline-block
					vertical-align middle
				.txt
					display inline-block
					height 20px
					line-height 20px
					font-size 14px
					vertical-align middle
						
						
				
				
			
	
		