.g-hd
	width 100%
	height 46px
	line-height 46px
	background #f5f5f5
	overflow hidden
	.g-hd-wrap
		width 1000px
		height 46px
		line-height 46px
		margin 0 auto
		font-size 0
		.logo
			vertical-align middle
		.title
			display inline-block
			vertical-align middle
			margin-left 10px
			font-size 18px
			font-weight 500
.g-coverMap
	width 100%
	height 600px
	background url('../imgs/banner.jpg') center center no-repeat
	-webkit-background-size: cover  
	-moz-background-size: cover  
	-o-background-size: cover
	background-size cover
.g-main
	width 1000px
	margin 0 auto
	.m-hd
		margin-top 60px
		overflow hidden
		.u-swiper
			float: left
			position: relative
			display inline-block
			width 480px
			height 310px
			font-size 0
			-webkit-box-sizing: border-box 
			-moz-box-sizing: border-box
			box-sizing: border-box
			.txt
				position: absolute
				bottom 0
				height 40px
				line-height 40px
				width 100%
				padding 0 15px
				overflow hidden
				white-space nowrap
				text-overflow: ellipsis
				color #fff
				font-size 18px
				background #222
				-webkit-box-sizing: border-box 
				-moz-box-sizing: border-box
				box-sizing: border-box
		.u-news
			float left
			display inline-block
			width 480px
			height 310px
			margin-left 40px
			-webkit-box-sizing: border-box 
			-moz-box-sizing: border-box
			box-sizing: border-box
			.hd-news
				border-bottom 1px dashed #ccc
				.item
					display inline-block
					margin-bottom 22px
					.item-title
						margin-top 10px
						font-size 20px
						color #333
						overflow hidden
						white-space nowrap
					.item-txt
						width 480px
						margin-top 14px
						font-size 14px
						color #999
						overflow hidden
						white-space nowrap
						text-overflow: ellipsis
						
			.news-list
				padding-top 15px
				.list-item
					font-size 16px
					color #666
					line-height 2.625
					.dot
						display inline-block
						width 3px
						height 3px
						margin-right 10px
						vertical-align middle
						background #999
	.m-exploration,.m-traffic
		margin-top 60px
		overflow hidden
		.img
			width 100%
			height 61px
			background url('../imgs/1.png') center center no-repeat
			-webkit-background-size: cover  
			-moz-background-size: cover  
			-o-background-size: cover
			background-size cover	
		.wrap
			margin-top 60px
			.list-item
				float left
				width 480px
				margin-bottom 60px
				.u-img
					float left
					width 200px
					height 114px
					overflow hidden
					img
						display block
						width 100%
						height 100%
				.u-txt-wrap
					float: left
					width 250px
					margin-left 30px
					.u-title
						margin 10px 0 20px
						width 100%
						overflow hidden
						text-overflow ellipsis
						white-space nowrap
						font-size 20px
						color #333
					.u-txt
						font-size 14px
						color #999
						line-height 1.714
				&:nth-child(2n)
					margin-left 40px
	.m-urban
		margin-top 60px
		.urban-img
			width 100%
			height 61px
			background url('../imgs/2.png') center center no-repeat
			-webkit-background-size: cover  
			-moz-background-size: cover  
			-o-background-size: cover
			background-size cover
		.wrap
			margin-top 60px
			overflow hidden
			.hd
				overflow hidden
				.img-txt
					float left
					width 380px
					.img
						width 380px
						height 216px
						overflow hidden
						img
							width 100%
							height 100%
							display block
					.txt
						width 380px
						height 140px
						overflow hidden
						background #f5f5f5
						.title
							margin 22px 0 18px
							text-align center
							font-size 18px
							color #222
						.txtwrap
							padding 0 24px
							font-size 14px
							color #999
							line-height 1.714
				.chd
					float left 
					width 580px
					margin-left 40px
					.info
						width 580px
						height 120px
						border-bottom 1px dashed #ccc
						background url('../imgs/urban.png') center top no-repeat
						-webkit-background-size: container  
						-moz-background-size: container  
						-o-background-size: container
						background-size container
						-webkit-box-sizing border-box
						-moz-box-sizing border-box
						-box-sizing border-box
						p
							padding 20px 30px 30px 40px
							font-size 14px
							color #666
							line-height 1.571
					.list-item
						padding-left 10px
						.item
							float left
							width 250px
							height 114px
							border-bottom 1px dashed #ccc
							.title
								width 250px
								margin 20px 0 14px
								overflow hidden
								white-space nowrap
								text-overflow: ellipsis
								font-size 20px 
								color #333
							.txt
								font-size 14px
								color #999
								line-height 1.714
							&:nth-child(2n)
								padding-left 68px
								margin-left 2px
			.urban-list
				width 1000px
				margin-top 40px
				overflow hidden
				.listwrap
					float left
					width 480px
					&:nth-child(2)
						margin-left 40px
					li
						width 480px						
						height 40px
						line-height 40px
						font-size 16px 
						color #666
						overflow hidden
						white-space nowrap
						text-overflow: ellipsis
						.dot
							display inline-block
							width 3px
							height 3px
							margin-right 10px
							vertical-align middle
							background #999
	.m-traffic
		.img
			width 100%
			height 61px
			background url('../imgs/3.png') center center no-repeat
			-webkit-background-size: cover  
			-moz-background-size: cover  
			-o-background-size: cover
			background-size cover					
.g-ft
	width 100%
	height 120px
	text-align center
	font-size 14px
	color #666
	background #f5f5f5
	overflow hidden
	.copy
		margin-top 40px
	.right 
		margin-top 10px
	